@import "@/styles/variable.module";


.app__footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $--clr-black;
  color: $--clr-grey;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 90px;
  .app__footer-copyright {
    align-self: center;
    order: 1;
    text-align: center;
    margin-top: 1rem;
  }
  .app__react-icons {
    a {
      border-bottom: 2px solid;
    }
  }
}