@import "@/styles/variable.module";

.app__footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $--clr-black;
  color: $--clr-grey;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: auto;
  align-items: center;
  .app__footer-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    .app__footer-items-company {
      text-align: center;
      h2 {
        margin-bottom: 1rem;
      }
    }
    .app__footer-items-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 3;
      gap: 1rem;
      img {
        width: 80px;
        height: 80px;
      }
      .app__footer-copyright {
        text-align: justify;
        margin-top: 1rem;
      }
      .app__footer-item-icons-social {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        a {
          font-size: 3rem;
          color: $--clr-grey;
        }
      }
    }
    .app__footer-items_work {
      text-align: center;
      h2 {
        margin-bottom: 1rem;
      }
      p {
        &:nth-child(even) {
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .app__footer {
    padding-top: 1rem;
    padding-bottom: 2rem;
    align-items: normal;
    .app__footer-items {
      flex-direction: row;
      justify-content: space-between;
    .app__footer-items-icons {
      justify-content: flex-end;
    }
      .app__footer-items_work {
        order: 3;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .app__footer {
    .app__footer-items {
      justify-content: space-around;
    }
  }
}
