@import "@/styles/variable.module";

.app__priceList {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: $--fs-body;
  text-align: center; 
  .app__priceList-item-price {
    display: flex;
    justify-content: center;
    p {
      letter-spacing: 0.4rem;
    }
    span {
      color: $--clr-green;
      font-weight: bold;
    }
  }
}
@media screen and (min-width: 768px) {
  .app__priceList {
    font-size: 2rem;
  }
}
