@import "@/styles/variable.module";

.app__priceList {
  text-align: center;
  font-size: $--fs-body;

  p {
    letter-spacing: 0.4rem;
  }
  span {
    color: $--clr-green;
    font-weight: bold;
  }
}
@media screen and (min-width: 768px) {
  .app__priceList {
    font-size: 2rem;
  }
}
